<!DOCTYPE HTML>

<!-- Content -->
<article>

<li>quick general points</li>
<li>Click on the pictures below to enlarge</li><br>
    <a href="SBHS1.html" class="image image-small"><img src="images/rsz_sbitenghs1.jpg" alt="" /></a>

<p>subheadings</p>

<p>subheadings</p>

<li>quick general points</li>

<p>subheadings</p>

<p>story telling hook</p>
<li>Click on the pictures below to enlarge</li><br>
    <a href="SBHS1.html" class="image image-small"><img src="images/rsz_sbitenghs1.jpg" alt="" /></a>

<p>call to action</p>

<p>summary</p>
<p>Resources</p>
<p>soundbites</p>

<li>Best Regards,<br>Shervin Biteng<br>Founder & Entertainment Professional, Investor</li>
    <a href="https://www.twitter.com/SBiteng" class="image image-small"><img src="images/SMIcons/twitter.svg" alt="" /></a>
    <a href="https://www.facebook.com/pages/Shervin-Biteng/583507521803246" class="image image-small"><img src="images/SMIcons/facebook.svg" alt="" /></a>
    <a href="https://www.instagram.com/s_biteng" class="image image-small"><img src="images/SMIcons/instagram.svg" alt="" /></a>
    <a href="https://www.plus.google.com/+ShervinBiteng" class="image image-small"><img src="images/SMIcons/google.svg" alt="" /></a>
    <a href="https://www.youtube.com/shervin23" class="image image-small"><img src="images/SMIcons/youtube.svg" alt="" /></a>
    <a href="https://www.linkedin.com/in/SBiteng" class="image image-small"><img src="images/SMIcons/linkedin.svg" alt="" /></a><br>

    <script src="https://apis.google.com/js/platform.js"></script>

    <script>
        function onYtEvent(payload) {
            if (payload.eventType == 'subscribe') {
              // Add code to handle subscribe event.
            } else if (payload.eventType == 'unsubscribe') {
              // Add code to handle unsubscribe event.
            }
            if (window.console) { // for debugging only
              window.console.log('YT event: ', payload);
          }
        }
        </script>

    <div class="g-ytsubscribe" data-channel="SBiteng" data-layout="default" data-count="default" data-onytevent="onYtEvent"></div> |

                                <style>.ig-b- { display: inline-block; }
                                .ig-b- img { visibility: hidden; }
                                .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
                                .ig-b-32 { width: 32px; height: 32px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0; }
                                @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
                                .ig-b-32 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png); background-size: 60px 178px; } }</style>
                                <a href="https://www.instagram.com/s_biteng/?ref=badge" class="ig-b- ig-b-32"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a>
                                </li>

            <h4><u>2nd call to action - smg</u></h4>
                                    <li><a href="https://www.RoomEscapeAdventures.com">Trapped In A Room With A Zombie</a></li>
                                    <li><a href="https://www.ExtrasManagement.com/">Extras Management</a></li>
                                    <li><a href="https://www.CentralCasting.com">Central Casting</a></li>
                                    <li><a href="https://www.VirgoTalent.com">Virgo Talent</a></li>
                                    <li><a href="https://www.ActorsAccess.com">Actors Access</a></li>
</article>

http://wild.link/expedia/AOu0BQ
http://wild.link/hotels/AOy0BQ
http://wild.link/tripadvisor/AO20BQ
http://wild.link/ticketmaster/AO60BQ
http://wild.link/ticketnetwork/APG0BQ
http://wild.link/seatgeek/APK0BQ
http://wild.link/fandango/APO0BQ

http://wild.link/shoes/APS0BQ
http://wild.link/tillys/APW0BQ
http://wild.link/landsend/APa0BQ
http://wild.link/ralphlauren/AKC1BQ
http://wild.link/toms/APe0BQ
http://wild.link/pacsun/APi0BQ
http://wild.link/bulksupplements/APq0BQ

http://wild.link/rei/APu0BQ
http://wild.link/NBA/APy0BQ
http://wild.link/taylormadegolf/AP20BQ
http://wild.link/basspro/AP60BQ
http://wild.link/dickssportinggoods/AP-0BQ
http://wild.link/surfboards/AIC1BQ

http://wild.link/crayola/AIG1BQ
http://wild.link/buildabear/AIK1BQ
http://wild.link/shopdisney/AIO1BQ
http://wild.link/LEGO/AIS1BQ

http://wild.link/homedepot/AIW1BQ
http://wild.link/petco/AIa1BQ
http://wild.link/burpee/AIe1BQ
http://wild.link/pier1/AIi1BQ
http://wild.link/dog/AIm1BQ

http://wild.link/gamefly/AIy1BQ
http://wild.link/samsung/AI21BQ
http://wild.link/hp/AI61BQ
http://wild.link/newegg/AI-1BQ
http://wild.link/gamestop/AJC1BQ

http://wild.link/goldmedalwineclub/AJG1BQ
http://wild.link/omahasteaks/AJK1BQ
http://wild.link/spencersonline/AJO1BQ
http://wild.link/zales/AJS1BQ

http://wild.link/CampusBookRentals/AJW1BQ
http://wild.link/BarnesandNoble/AJa1BQ
http://wild.link/itunes/AJe1BQ
http://wild.link/groupon/AIq1BQ
http://wild.link/fiverr/AIu1BQ

http://wild.link/etundra/AJi1BQ
http://wild.link/pepboys/AJu1BQ
http://wild.link/discounttire/AJy1BQ






